.list_categories {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
}
.list_category {
  list-style: none;
  display: flex;
  gap: 15px;
}
.list_category .category_item {
  background: #d2ddf2;
  padding: 5px 15px;
  border-radius: 20px;
}
.category_sort .category_item {
  list-style: none;
  background: #d2ddf2;
  padding: 5px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 8%;
}
.product .product_img {
  background: #f5f1f1;
  height: 70%;
  border-radius: 10px;
  position: relative;
}
.product_img .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
}
.product img {
  width: 250px;
  padding: 30px;
}
.product .description {
  text-align: center;
  font-weight: 500;
}
.product .btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product .btn .add_cart {
  padding: 10px 20px;
  background: linear-gradient(#1885eb, #295ed0);
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
}
